@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,500;0,700;1,200;1,700&family=Poppins:ital,wght@1,400;1,500;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,600;1,700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Franklin', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
  }
  

  :root{
    --second-bg-color:#202020;
    --text-color:#fff;
    --second-color:#ccc;
    --main-color:#ff4d05;
    --bg-color: rgba(129, 101, 189, 0.471);
    --big-font: 5rem;
    --h2-font:3rem;
    --p-font:1.1rem;
  }
  
  body{
    background-image: url("../img/blurry-gradient-haikei.png");
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
  }
  

  body::-webkit-scrollbar{
    width: 10px;
  }
  body::-webkit-scrollbar-track{
    background-color: #8E72C1;
  }
  body::-webkit-scrollbar-thumb{
    background-color: #5c2a9d;
    border-radius: 15px;
  }

  body::-webkit-scrollbar-thumb:hover{
    background-color: #b5076b;
  }

  
  header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
  }
  header.sticky{
    background: var(--bg-color);
    border-bottom: 1px solid #ffffff1a;
      padding: 10px 2.5%;
      transition: .5s;
    
  }
  .logo {
    width: 120px;
    transition: width 0.5s ease;
  }
  
  .navlist{
    display: flex;
  }
  
  .navlist a{
    color: var(--second-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
  }
  
  .navlist a:hover{
    color: var(--main-color);
  }
  
  .navlist a.active{
    color: var(--main-color);
  }
  #menu-icon{
    font-size: 35px;
    color: var(--text-color);
    z-index: 100001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
  }

  .premiere{
    margin-top: 200px;
    padding: 200px 15% 200px;
    height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transform: translateX(400%);
    transition: transform 0.4s ease;
  }

  .premiere.show {
    transform: translateX(0);
  }
  .premiere:nth-child(1){
    transform: translateX(-400%);
  }


  .premiere img{
    width: 400px;
    border-radius: 20px 20px 20px 20px;
  }

  .premiere div:not(.debut) {
    margin-left: 200px;
  }
  
  .premiere div{
    margin-top: 30px;
  }

  .premiere p{
    margin-bottom: 280px;
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    text-align: justify;
  }

  .premiere h2{
    color: var(--text-color);
    font-size: var(--h2-font);
    line-height: 1;
  }

  .box{
    padding: 200px 15% 200px;
    height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transform: translateX(400%);
    transition: transform 0.4s ease;
  }
  .box.show {
    transform: translateX(0);
  }
  
  .box:nth-child(1){
    transform: translateX(-400%);
  }

  .box img{
    width: 400px;
    border-radius: 20px 20px 20px 20px;
  }



  .box div:not(.debut) {
    margin-left: 200px;
  }
  
  .box div{
    margin-top: 30px;
  }

  .box p{
    margin-bottom: 280px;
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    text-align: justify;
  }

  .box h2{
    color: var(--text-color);
    font-size: var(--h2-font);
    line-height: 1;
  }
  span{
    margin-top: 200px;
  }
  .first{
    display: inline-block;
    margin-left: 15px;
    height: 32px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    background: var(--main-color);
    color: var(--text-color);
  }

  .two{
    display: inline-block;
    color: var(--second-color);
    font-size: 20px;
    font-weight: 500;
  }
  .debut h2{
    padding-top: 20px;
  }
  .one p{
    padding-top: 20px;
  }

  .local{
    display: flex;
    justify-content: flex-start;
  }

  .skill{
    padding: 200px 15% 200px;
    width: 55%;
  }
  
  .skill h2{
    color: var(--text-color);
    font-size: 1.5rem;
    line-height: 2;
  }

  .skill .progressbar{
    background-color: #9C89C3;
    color: #fff;
    margin-bottom: 1rem;
  }
  .skill .bar{
    background-color:#8E72C1;
    padding: 1rem;
  }
  .skills{
    padding: 200px 5% ;
  }

  .gridItem h2{
    padding-top: 20px;
  }
  .tree{
    color: #ff4d05;
  }

  .skills{
    width: 45%;
  }

  .skills h2{
    color: var(--text-color);
    font-size: 2rem;
    line-height: 2;
  }

  .skills p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    text-align: justify;
    margin-bottom: 20px;
  }


  .contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2.5rem;
    padding: 200px 15% 200px;
  }
  
  .contact-text h4{
    color: var(--text-color);
    margin: 18px 0;
    font-size: 20px;
    font-weight: 600;
  }
  
  .contact-text h2{
    color: var(--text-color);
    font-size: var(--h2-font);
    line-height: 1;
  }
  .contact-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 30px;
  }
  
  .list{
    margin-bottom: 2.8rem;
    color: var(--second-color);
  }
  .list li{
    margin-bottom: 12px;
  }
  
  .list li a{
    display: block;
    color: var(--second-color);
    font-size: 14px;
    transition: all .45s ease;
  }
  
  .list li a:hover{
    color: var(--text-color);
    transform: translateX(5px);
  }
  .contact-icons i{
    height: 45px;
    width: 45px;
    background: var(--main-color);
    color: var(--text-color);
    font-size: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 15px;
    transition: all .45s ease;
  }
  .contact-icons i:hover{
    background: var(--text-color);
    color: var(--main-color);
  }
  
  .contact-form form{
    position: relative;
  }
  .contact-form form input, form textarea{
    width: 100%;
    padding: 14px;
    background: var(--bg-color);
    color: var(--main-color-color);
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  .contact-form textarea{
    resize: none;
    height: 240px;
  }
  .contact-form input[type="prénom"]::placeholder,
  .contact-form input[type="email"]::placeholder,
  .contact-form input[type="tel"]::placeholder,
  .contact-form textarea::placeholder{
    color: var(--second-color);
  }
  .contact-form .submit{
    display: inline-block;
    font-size: 16px;
    background: var(--main-color);
    color: var(--text-color);
    width: 200px;
    transition:all .45s ease;
  }
  .contact-form .submit:hover{
    transform: scale(1.1);
    cursor: pointer;
  }
  
.end{
  padding: 20px 15%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.end{
  padding: 20px 15%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.end h2{
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--second-color);
}
.top i{
  padding: 10px;
  border-radius: 8px;
  font-size: 15px;
  color: var(--text-color);
  background: var(--main-color);
}
.top{
  padding-left: 450px;
}
